


<!-- <button (click)="Onclick()">Save</button> -->



<!-- <router-outlet> -->
  <!-- <app-common-table>
  </app-common-table> -->
<!-- </router-outlet> -->

<mat-card>
  <mat-card-content>
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title"
        [markers]="chartOptions.markers"
        [yaxis]="chartOptions.yaxis"
        [fill]="chartOptions.fill"
      ></apx-chart>
    </div>
   <br>
    <div id="chart">
      <apx-chart
        [series]="chartOptions1.series"
        [chart]="chartOptions1.chart"
        [dataLabels]="chartOptions1.dataLabels"
        [plotOptions]="chartOptions1.plotOptions"
        [yaxis]="chartOptions1.yaxis"
        [legend]="chartOptions1.legend"
        [fill]="chartOptions1.fill"
        [stroke]="chartOptions1.stroke"
        [tooltip]="chartOptions1.tooltip"
        [xaxis]="chartOptions1.xaxis"
      ></apx-chart>
    </div>
  </mat-card-content>
</mat-card>



