
<div fxLayout="row">
    <div fxFlex.gt-sm="100%" >
        <mat-card>
            <mat-card-content>
              <mat-card-title>
                </mat-card-title>
                <mat-icon> list_alt</mat-icon>
                <p style="margin-top: -30px; margin-left: 25px;font-size: 18px;font-weight: bold;">Requestion</p>
  
                <hr>
                <form [formGroup]="RequestionEntry">
                  <div class="row">
                    <div class="col-md-3">
                       <mat-form-field class="example-full-width" appearance="fill">
                           <mat-label>Requestion No</mat-label>
                           <input matInput placeholder="Requestion no" >
                         </mat-form-field>
                    </div>
                    <div class="col-md-3">
                       <mat-form-field class="example-full-width" appearance="fill">
                           <mat-label>Employee</mat-label>
                           <input matInput placeholder="Ex. Pizza" value="Sushi">
                         </mat-form-field>
                   </div>
                   <div class="col-md-3">
                       <mat-form-field class="example-full-width" appearance="fill">
                           <mat-label>Favorite food</mat-label>
                           <input matInput placeholder="Ex. Pizza" value="Sushi">
                         </mat-form-field>
                   </div>
                   <div class="col-md-3">
                       
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Employee</mat-label>
                      <input type="text"
                             placeholder="Employee name"
                             aria-label="Employee"
                             matInput
                             formControlName="myControl"
                             [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.Name" (onSelectionChange)="onSelFunc(ddlItemList=option)">
                          {{option.Name}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                   </div>
               </div>
               
              </form>
                <div class="row">
                    <!-- <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Employee</mat-label>
                        <input type="text"
                               placeholder="Item name"
                               aria-label="Item name"
                               matInput
                               [(ngModel)]="ddlItem"
                               [matAutocomplete]="auto" >
                         <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.Name" (onSelectionChange)="onSelFunc(option)">
                            {{option.Name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div> -->
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="fill">
                       
                        <input  [(ngModel)]="ItemDetails.UnitName" matInput placeholder="Unit" value="Sushi">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="fill">
                       
                        <input  [(ngModel)]="ItemDetails.UnitName" matInput placeholder="Unit" value="Sushi">
                      </mat-form-field>
                    </div>

                    <div class="col-md-1">
                     
                        <button mat-raised-button (click)="OnAdd()" color="warn" style="margin: 5px; width: 15px;height: 40px;" >
                         Add
                       </button >
   
                    </div> 
                </div>
            
                <div *ngFor="let ItemDetails of  ItemDetailList;">
                  <span>{{ItemDetails.Name}}   {{ItemDetails.UnitName}}  </span>
                </div>

  
                
            </mat-card-content>
  
        </mat-card>
    </div>
  </div>

 

<app-common-table>
</app-common-table>

